* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Rubik',
        sans-serif;
    font-weight: 500;
    line-height: 1.4;
}

.background-sidebar {
    width: 50%;
    height: 550px;
    position: absolute;
    z-index: -1;
}

.violet-background-sidebar {
    background-color: hsl(278, 99%, 62%);
    top: 0;
    border-bottom-right-radius: 113%;
}

.grey-background-sidebar {
    background-color: hsl(290, 37%, 97%);
    margin-left: auto;
        right: 0;
        top: 465px;
        border-top-left-radius: 113%;
}

form {
    width: 100%;
    padding: 0 .5em 0 1.3em;
}

.chat-wrapper {
    width: 80%;
    max-width: 270px;
    background: hsl(270, 20%, 96%);
    border: 11px solid hsl(0, 0%, 100%);
    margin: 0 auto;
    margin-top: 67px;
    border-radius: 40px;
    position: relative;
    font-size: .55rem;
    box-shadow: 0 5px 60px rgb(0 0 0 / 20%);
}

.notch {
    width: 53%;
    min-height: 30px;
    background: hsl(0, 0%, 100%);
    position: absolute;
    left: 60px;
    border-radius: 20px;
    top: -11px;
}

.chat-header-wrapper,
.price-wrapper,
form,
.profile-block,
.text-wrapper,
.chat-header,
.img-wrapper {
    display: flex;
    align-items: center;
}

.chat-header {
    border-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
    height: 76px;
    padding: 0 1.7em;
}

.chat-header p {
    font-weight: 400;
    color: hsl(276, 100%, 81%);
}

.chat-header h3 {
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    font-size: 1.3em;
}

.chat-header-wrapper {
    width: 100%;
    margin-top: 1.5em;
}

.price-wrapper p {
    flex: 2;
    margin-left: 1em;
}

.profile-block,
p.amount {
    flex: 1;
}

.profile-block img {
    height: 30px;
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 100%);
}

.fa-chevron-left,
.profile-block img {
    margin-right: 1em;
}

.chat-body {
    padding: .79em;
}

div.f-left-textbox {
    margin-top: 0.6em;
}

.header-img-block {
    border-radius: 50%;
    border: 1px solid purple;
}

.left-textbox,
.right-textbox {
    padding: .9em;
    border-radius: 15px;
}

.left-textbox {
    width: 60%;
    background: hsl(268, 41%, 93%);
    color: rgb(185, 89, 212);
    border-bottom-left-radius: 4px;
}

.img-wrapper {
    width: 63%;
    margin-left: auto;
    margin-top: 1.6em;
}

.price-wrapper,
.img-wrapper,
.chat-header-wrapper {
    justify-content: space-between;
}

.img-block img {
    border-radius: 10px;
    height: 42px;
}

.right-textbox {
    width: 60%;
    background: hsl(0, 0%, 100%);
    color: hsl(271, 15%, 43%);
    margin-left: auto;
    border-bottom-right-radius: 4px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

.short-text {
    width: 40%;
    margin-bottom: 1.9em;
}

.right-textbox,
.left-textbox {
    margin-top: 1em;
}

.status-circle {
    width: 15px;
    height: 15px;
    border: 1px solid hsl(289, 100%, 72%);
    border-radius: 50%;
}

.price-wrapper {
    font-weight: 400;
    background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    color: hsl(264, 10%, 90%);
    width: 72%;
    padding: 0.8em;
}

.amount {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.5em;
}

.text-wrapper {
    background-color: hsl(0, 0%, 100%);
    height: 38px;
    border-radius: 50px;
    margin: 1.7em 0 .5em;
    position: relative;
}

.text-wrapper form input {
    width: 70%;
    height: 25px;
    line-height: 25px;
    padding-left: .6em;
    border: none;
    outline: none;
    font-size: 1.3em;
}

.submit {
    display: block;
    margin-left: auto;
    height: 28px;
    width: 28px;
    background: hsl(271, 36%, 24%);
    outline: none;
    border: none;
    border-radius: 50%;
}

i {
    color: hsl(0, 0%, 100%);
    font-size: 1em;
}

.paragraph-holder {
    width: 90%;
    color: hsl(271, 36%, 24%);
    margin: 4em auto 2em;
}

.paragraph-holder h1 {
    text-align: center;
    font-weight: 500;
    font-size: 2.7em;
    margin-bottom: .5em;
}

.paragraph-holder p {
    text-align: center;
    color: hsl(270, 7%, 64%);
    font-weight: 400;
    line-height: 1.8;
}



@media screen and (min-width: 500px) {
    .container {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;
        align-items: center;
        padding-top: 3.2em;
    }

    .grey-background-sidebar {
        top: 85px;
    }

    .paragraph-holder, .chat-wrapper {
        margin: 0;
    }

div.paragraph-holder {
    width: 54%;
    }

    .paragraph-holder p {
    font-size: 1em;
    text-align: left;
    }

    .paragraph-holder h1 {
        font-size: 2.3em;
        font-weight: 500;
        text-align: left;
    }

    .chat-wrapper {
        flex: 2;
    }

    div.attribution {
        margin-bottom: 0;
    }

    .chat-wrapper {
        border: 9px solid hsl(0, 0%, 100%);
    }

    .chat-header {
        border-radius: 32px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 64px;
    }

    .notch {
        min-height: 28px;
        top: -9px;
    }

    .img-block img {
        height: 40px;
    }

    .profile-block img {
        height: 28px;
    }

    body {
        background-color: aqua;
    }
    
}